<img src="https://github.com/NathCunha/o-py-o/blob/master/imagens/4.png?raw=1">

## Revisando o conteúdo da semana!

1) Faça um programa que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.

In [11]:
nome_user = input("Digite seu nome: ")
senha_user = input("Digite uma senha: ")

while senha_user == nome_user:
  print("\nA senha não pode ser igual ao seu nome!")
  senha_user = input("Digite uma senha: ")

print("\n---FIM---")

Digite seu nome: ana
Digite uma senha: ana

A senha não pode ser igual ao seu nome!
Digite uma senha: bia

---FIM---

2) Há um método disponível nas variáveis do tipo **string** chamado `count`. Ele recebe uma string como parâmetro e tem como objetivo contar quantas vezes esse parâmetro aparece na string original onde ele está sendo chamado. Ou seja, se eu quiser contar quantas vezes a letra **"a"** aparece em **"banana"** eu posso fazer algo como:
```python
fruta = 'banana'
fruta.count(a)
```

E isso vai me dar o resultado 3. Não acredita? Testa ai!

In [12]:
fruta = 'banana'
fruta.count('a')

3

Pois agora que sabemos disso, é chegado o momento de descobrimos quantos **"e's"** existem em [Prefixo de Verão ](https://www.youtube.com/watch?v=CObCy8qduuo&ab_channel=FunkeirodaZonaSul) música da maravilhosa Banda Mel. 

Eu vou deixar a string já montada aqui e você faz o resto beleza?!

In [16]:
music = 'Ae, ae, ae, ae \
Ei, ei, ei, ei \
Oô, oô, oô, oô, oô, oô, o \
 \
Quando você chegar \
Quando você chegar \
Quando você chegar \
Numa nova estação \
Te espero no verão \
 \
Salve, salvador \
Me bato, me quebro tudo por amor \
Eu sou do pelô \
O negro é raça é fruto do amor \
Salve, salvador \
Me bato, me quebro tudo por amor \
Eu sou do pelô \
 \
Ae, ae, ae, ae \
Ei, ei, ei, ei \
Oô, oô, oô, oô, oô, oô, o \
 \
Ae, ae, ae, ae \
Ei, ei, ei, ei \
Oô, oô, o'

music.count("e's")
music.count("e")

40

> ##### Você tem alguma ideia de como fazer essa contagem sem usar o count()?

In [18]:
count = 0

for letra in music:
  if letra == "e":
    count+=1
print("A quantidade de letras 'e' é igual a "+ str(count))

A quantidade de letras 'e' é igual a 40

3) Faça um programa que leia 5 números e informe o maior número.

In [29]:
guarda_maior = 0
count = 0

#Solução usando o while:
while count < 5:
  numero = int(input("Digite um numero: "))
  count += 1
  if numero > guarda_maior:
    guarda_maior = numero
print(guarda_maior)

#Solução usando o For:
for x in range(5):
  numero = int(input("Digite um numero: "))
  if numero > guarda_maior:
    guarda_maior = numero
print(guarda_maior)

Digite um numero: 6
Digite um numero: 0
Digite um numero: 2
Digite um numero: 10
Digite um numero: 3
10
Digite um numero: 6
Digite um numero: 0
Digite um numero: 2
Digite um numero: 10
Digite um numero: 3
10

4) Faça um programa que receba dois números inteiros e gere os números inteiros que estão no intervalo compreendido por eles.

In [32]:
num1 = int(input("Digite um número inteiro: "))
num2 = int(input("Digite um segundo número inteiro: "))

for x in range(num1+1,num2):
  print(x)

Digite um número inteiro: 3
Digite um segundo número inteiro: 10
4
5
6
7
8
9

5) Altere o programa anterior para mostrar no final a soma dos números.

In [37]:
num1 = int(input("Digite um número inteiro: "))
num2 = int(input("Digite um segundo número inteiro: "))
soma = 0

for x in range(num1+1,num2):
  soma += x
print(soma)

Digite um número inteiro: 3
Digite um segundo número inteiro: 10
39

6) Faça um programa que exiba as tabuadas de 1 até 10 no formato: "2 x 3 = 6", (utilize dois comandos for)

In [46]:
for num in range(1,11):
  print("")
  for num2 in range(1,11):
    result = num*num2
    print(str(num) + " x " + str(num2) + " = " + str(result))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

---

## Quais são as outras formas de praticar esses conceitos?

<img src="https://media.giphy.com/media/3gPLPJzFi8a3vhLTtw/giphy.gif" align="left">

<Adicionar atividade de sua preferência para aplicação dos conceitos>

Como usar a concatenação (adição de strings) e um loop for para gerar uma série abecedária (isto é, em ordem alfabética).  No livro de Robert McCloskey, Make Way for Ducklings (Abram caminho para os patinhos), os nomes dos patinhos são Jack, Kack, Lack, Mack, Nack, Ouack, Pack e Quack. Este loop produz estes nomes em ordem:


``` 
prefixes = 'JKLMNOPQ'
suffix = 'ack'
for letter in prefixes:
    print(letter + suffix)
A saída é:
Jack
Kack
Lack
Mack
Nack
Oack
Pack
Qack
```

Claro que não está exatamente certo porque “Ouack” e “Quack” foram mal soletrados. Como exercício, altere o programa para corrigir este erro.

In [5]:
prefixes = 'JKLMNOPQ'
suffix = 'ack'
for letter in prefixes:
    if letter == "O" or letter == "Q":
      print(letter + "u" + suffix)
    else:
      print(letter + suffix)

Jack
Kack
Lack
Mack
Nack
Ouack
Pack
Quack